
git+git://github.com/robotpy/pynetworktables.git#egg=pynetworktables

git+git://github.com/robotpy/robotpy-wpilib.git#egg=robotpy-hal-base&subdirectory=hal-base
git+git://github.com/robotpy/robotpy-wpilib.git#egg=robotpy-hal-sim&subdirectory=hal-sim
git+git://github.com/robotpy/robotpy-wpilib.git#egg=wpilib&subdirectory=wpilib

-e .

git+git://github.com/robotpy/pyfrc.git#egg=pyfrc

pytest>=2.8
coverage
